.c_wrapper {
  display: flex;
  padding: 10%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.c_head1 {
  font-family: SFMono;
  color: var(--green);
  font-size: calc(var(--font-size) * 0.8);
  margin-bottom: 3vw;
}
.c_head2 {
  font-family: Calibre;
  color: var(--lightest-slate);
  margin-bottom: 2vw;
  font-size: calc(var(--heading-size) * 0.5);
  text-align: center;
}
.c_para {
  font-family: Calibre;
  color: var(--slate);
  margin: 0 auto;
  text-align: center;
  font-size: var(--font-size);
  max-width: 600px;
  margin-bottom: 7vw;
  line-height: 140%;
}
.c_link {
  padding: var(--font-size);
  border: 1px solid var(--green);
  border-radius: calc(var(--font-size) * 0.3);
  font-family: SFMono;
  font-size: var(--font-size);
  color: var(--green);
  text-decoration: none;
  margin: 0 auto;
}
.c_link:hover {
  background: var(--green-tint);
}
.c_link_wrapper {
  display: flex;
}
