.c_wrapper {
  display: flex;
  padding: 50px;
  margin-top:30px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (max-width: 600px) {
  .c_wrapper {
    padding: 50px 30px;
  }
}
@media (max-width: 400px) {
  .c_wrapper {
    padding: 50px 20px;
  }
}
.c_head1 {
  font-family: SFMono;
  color: var(--green);
  margin-bottom: 10px;
}
.c_head2 {
  font-family: CalibreBold;
  color: var(--lightest-slate);
  margin-bottom: 10px;
  text-align: center;
}
.c_para {
  font-family: Calibre;
  color: var(--light-slate);
  margin: 0 auto;
  text-align: center;
  max-width: 600px;
  margin-bottom: 20px;
  line-height: 140%;
}
.c_link {
  padding: 15px;
  border: 1px solid var(--green);
  border-radius: 5px;
  font-family: SFMono;
  color: var(--green);
  text-decoration: none;
  margin: 0 auto;
}
.c_link:hover {
  background: var(--green-tint);
}
.c_link_wrapper {
  display: flex;
}
