<div appScrollEffect id="About" class="mx-[100px] text-light-slate max-[600px]:mx-[30px] max-[400px]:mx-[20px] ">
  <div class="flex items-center">
  <span class=" text-lightest-slate text-4xl font-[CalibreBold] mr-2">
  <span class="text-green font-[SFMono] text-lg">01.</span>
    About Me</span>
  <div class="h-[1px] flex-1 bg-slate"></div>
  </div>
  <div class="flex max-[600px]:flex-col mt-5">
    <div>
      <p >
        Hello! My name is Haroon and I enjoy creating things that live on the
        internet. My interest in web development started back in 2018.I design
        and code beautifully simple things, and I love what I do.I like to code
        things from scratch, and enjoy bringing ideas to life in the browser.I
        genuinely care about people, and love helping fellow designers work on
        their craft.<br /><br />Here are a few technologies I’ve been working
        with recently:
      </p>
      <div class="flex">
        <div class="mr-7">
          <ul>
            <li>
              <app-triangle></app-triangle>
              <span class="ml-2">Angular</span>
            </li>
            <li>
              <app-triangle></app-triangle>
              <span class="ml-2">Git</span>
            </li>
            <li>
              <app-triangle></app-triangle>
              <span class="ml-2">Typescript</span>
            </li>
          </ul>
        </div>
        <div>
          <ul>
            <li>
              <app-triangle></app-triangle>
              <span class="ml-2">Html</span>
            </li>
            <li>
              <app-triangle></app-triangle>
              <span class="ml-2">Css</span>
            </li>
            <li>
              <app-triangle></app-triangle>
              <span class="ml-2">NodeJs</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="min-[600px]:ml-8 max-[600px]:mt-7">
      <div class="max-w-[200px] min-[600px]:w-[200px] mx-auto border-green border-2 rounded-sm mt-3 aspect-square">
        <div class=" bg-green -ml-3 -mt-3 rounded-sm max-w-[200px] min-[600px]:w-[200px]  aspect-square ">
          <img
            class="rounded-sm mix-blend-multiply hover:mix-blend-normal focus:mix-blend-normal "
            src="./assets/images/potrait.jpg"
            alt="Potrait"
          />
        </div>
      </div>
    </div>
  </div>
</div>
