.am {
  padding: 10%;
}
.am_num {
  color: var(--green);
  font-family: SFMono;
  margin-right: 10px;
  font-size: calc(var(--font-size) * 0.8);
}
.am_head {
  color: var(--lightest-slate);
  font-family: CalibreBold;
  font-size: calc(var(--heading-size) * 0.5);
  position: relative;
}
.am_head::after {
  content: ' ';
  height: 1px;
  width: 30vw;
  background: var(--slate);
  display: block;
  position: absolute;
  right: -32vw;
  top: 35%;
  border-radius: 5px;
}
.am_wrapper {
  margin-top: 5vw;
  display: flex;
}
.text {
  font-family: Calibre;
  font-size: var(--font-size);
  line-height: 140%;
  color: var(--slate);
  margin-bottom: 20px;
}
.am_image_wrapper {
  margin-left: 40px;
  margin-top: 20px;
}
.am_image {
  width: clamp(170px , 35vw ,300px);
  border-radius: 5px;
  mix-blend-mode: multiply;
}
.filter {
  display: inline-block;
  background: var(--green);
  border-radius: 5px;
  transform: translateX(-20px) translateY(-20px);
}
.p_div {
  display: flex;
}
.p_child {
  width: 50%;
}
.p_div ul li {
  list-style-type: none;
  margin-bottom: 10px;
}
.filter:hover {
  background: transparent;
}
.p_div ul li p {
  font-family: SFMono;
  font-size: calc(var(--font-size) * 0.8);
  line-height: 140%;
  color: var(--light-slate);
  margin-left: 10px;
  display: inline-block;
}
@media (max-width: 600px) {
  .am_wrapper {
    flex-direction: column;
  }
  .am_image_wrapper {
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 70px;
    margin-left: 40px;
  }
}
.am_border {
  border: 2px solid var(--green);
  border-radius: 5px;
}
