.c_wrapper {
  display: flex;
  padding: 0 10%;
  align-items: center;
  justify-content: center;
  height: 70vh;
  flex-direction: column;
}
.c_head1 {
  font-family: SFMono;
  color: var(--green);
  font-size: clamp(0.7rem, 2vw, 2rem);
  margin-bottom: 3vw;
}
.c_head2 {
  font-family: Calibre;
  color: var(--lightest-slate);
  margin-bottom: 2vw;
  font-size: clamp(2rem, 6vw, 3rem);
  text-align: center;
}
.c_para {
  font-family: Calibre;
  color: var(--slate);
  margin: 0 auto;
  text-align: center;
  font-size: clamp(1rem, 3vw, 2.5rem);
  max-width: 600px;
  margin-bottom: 7vw;
  line-height: 140%;
}
.c_link {
  padding: clamp(1rem, 3vw, 2.5rem);
  border: 1px solid var(--green);
  border-radius: clamp(5px, 1vw, 15px);
  font-family: SFMono;
  font-size: clamp(0.7rem, 2.5vw, 1.5rem);
  color: var(--green);
  text-decoration: none;
  margin: 0 auto;
}
.c_link:hover {
  background: var(--green-tint);
}
.c_link_wrapper {
  display: flex;
}
