.f_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5vw;
  & p,
  & p a {
    text-align: center;
    font-family: SFMono;
    font-size: clamp(0.7rem ,3vw,1.2rem);
    color: var(--lightest-slate);
    text-decoration: none;
  }
}
.logo a {
  margin: 10px;
}
.logo {
  margin-bottom: 10px;
}
.f_mail {
  display: none;
}
@media (min-width: 700px) {
  .f_mail {
    display: block;
    position: fixed;
    bottom: 0;
    right: 25px;
    z-index: 1;
    & a {
      writing-mode: vertical-lr;
      font-family: SFMono;
    font-size: clamp(0.7rem ,1.7vw,2.5rem);
      color: var(--lightest-slate);
    }
  }
    .f_mail a:hover{
      color: var(--green);
    }
  
  .logo {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 25px;
    bottom: 0;
    margin: 0;
  }
  .logo a {
    margin: 10px 0;
  }
  .f_line {
    height: 20vh;
    width: 1px;
    background: var(--light-slate);
    margin: 0 auto;
    margin-top: 10px;
  }
}
