.wpr {
  width: 100vw;
  display: flex;
  justify-content: center;
  background: transparent;
}
h1 {
  font-family: CalibreBold;
  font-size: calc(var(--heading-size) * 1);
  color: var(--lightest-slate);
}
