.wpr {
  width: 100vw;
  display: flex;
  justify-content: center;
  background: transparent;
  position: absolute;
  top: -2vw;
  right: 0;
  z-index: 1;
}
h1 {
  font-family: CalibreBold;
  font-size: 14.3vw;
  color: var(--lightest-slate);
  text-shadow: 0 0 25px var(--lightest-slate);
}
.svg-wpr {
  position: relative;
  background-color: white;
}
