<div class="wpr">
  <input
    #f
    (search)="search = f.value; gen = ''; getblogs()"
    type="search"
    placeholder="Search Blogs"
  />
  <a (click)="search = f.value; getblogs()" class="search">
    <div class="circle"></div>
  </a>
</div>
<div *ngIf="status == 'call'" class="call flex">
  <div class="c-wpr">
    <h3>Category</h3>
    <ul>
      <li *ngFor="let cat of data.genres">
        <a
          [class.gendark]="cat == gen"
          (click)="getcat(cat); search = ''; getblogs()"
          class="cat"
          >{{ cat }}</a
        >
      </li>
    </ul>
  </div>
  <div [routerLink]="[item._id]" *ngFor="let item of data.blogs" class="d-wpr">
    <div class="card">
      <div class="date">{{ item.date }}</div>
      <h4>{{ item.title }}</h4>
      <div class="dis">{{ item.description }}</div>
      <a [routerLink]="[item._id]" class="more">Read more</a>
    </div>
  </div>
  <div *ngIf="total == 0">
    <h4>No Blogs Found</h4>
  </div>
  <div class="p-wpr">
    <div *ngFor="let page of data.pageno">
      <a
        [class.gendark]="page == pageno"
        (click)="pageno = page; getblogs()"
        class="pageno"
        >{{ page }}</a
      >
    </div>
  </div>
</div>
<div *ngIf="status == 'error'" class="error">
  <h3>{{ error }}</h3>
</div>
