<div class="wpr">
  <input #f (search)="getblogs($event.target,'',h2)" (search)="back()" type="search" placeholder="Search Blogs" />
  <a (click)="getblogs(f,'',h2)" (click)="back()" class="search">
    <div class="circle"></div>
  </a>
</div>
<div class="c-wpr">
  <h3>Category</h3>
  <ul>
    <li *ngFor="let genre of data.genres">
      <a #c (click)="click(c,f,genre,h2)" class="cat">{{ genre }}</a>
    </li>
  </ul>
</div>
  <h2 #h2>We couldn't find any blog post</h2>
<div class="d-wpr">
  <div *ngFor="let item of data.blogs" class="card">
    <div class="date">{{ item.date }}</div>
    <h4>{{ item.title }}</h4>
    <div class="dis">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt,
      delectus libero! Quisquam, saepe necessitatibus aliquam consequatur natus
      sapiente quam fuga!
    </div>
    <a href="" class="more">Read more</a>
  </div>
</div>
<div class="p-wpr">
  <a href="" class="pageno">{{ data.page }}</a>
</div>
