<div appScrollEffect id="About" class="am">
  <span class="am_num">01.</span>
  <span class="am_head">About Me</span>
  <div class="am_wrapper">
    <div class="am_para">
      <p class="text">
        Hello! My name is Haroon and I enjoy creating things that live on the
        internet. My interest in web development started back in 2018.I design
        and code beautifully simple things, and I love what I do.I like to code
        things from scratch, and enjoy bringing ideas to life in the browser.I
        genuinely care about people, and love helping fellow designers work on
        their craft.<br /><br />Here are a few technologies I’ve been working
        with recently:
      </p>
      <div class="p_div">
        <div class="p_child">
          <ul>
            <li>
              <app-triangle></app-triangle>
              <p>Angular</p>
            </li>
            <li>
              <app-triangle></app-triangle>
              <p>Git</p>
            </li>
            <li>
              <app-triangle></app-triangle>
              <p>Typescript</p>
            </li>
          </ul>
        </div>
        <div class="p_child">
          <ul>
            <li>
              <app-triangle></app-triangle>
              <p>Html</p>
            </li>
            <li>
              <app-triangle></app-triangle>
              <p>Css</p>
            </li>
            <li>
              <app-triangle></app-triangle>
              <p>NodeJs</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="am_image_wrapper">
      <div class="am_border">
        <div class="filter">
          <img
            class="am_image"
            src="./assets/images/potrait.jpg"
            alt="Potrait"
          />
        </div>
      </div>
    </div>
  </div>
</div>
