$Color: (
  navy: #0a192f,
  light_navy: #112240,
  lightest_navy: #233554,
  slate: #8892b0,
  light_slate: #a8b2d1,
  lightest_slate: #ccd6f6,
  white: #e6f1ff,
  green: #64ffda,
);
@function color($color-name) {
  @return map-get($Color, $color-name);
}
.c_wrapper {
  display: flex;
  flex-direction: column;
  margin: 30vw 10vw;
  align-items: center;
}
.c_wrapper h6 {
  font-family: SFMono;
  color: color(green);
  font-size: clamp(0.7rem, 2.5vw, 1.5rem);
  margin-bottom: 2vw;
  white-space: nowrap;
}
.c_wrapper h1 {
  font-family: Calibre;
  color: color(lightest_slate);
  margin-bottom: 2vw;
  white-space: nowrap;
  font-size: clamp(2rem, 7vw, 4rem);
}
.c_wrapper p {
  font-family: Calibre;
  font-size: clamp(1rem, 3.5vw, 2.5rem);
  line-height: 5vw;
  color: color(light_slate);
  margin-bottom: 7vw;
  text-align: center;
  white-space: nowrap;
}
.c_wrapper a {
  padding: 4vw;
  border: 1px solid color(green);
  border-radius: 5px;
  text-align: center;
  white-space: nowrap;
  font-family: SFMono;
  font-size: clamp(0.7rem, 2.5vw, 1.5rem);
  color: color(green);
  text-decoration: none;
}
