.hero {
  padding: 0 10%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  color: var(--green);
  margin-bottom: 3%;
  font-family: SFMono;
  font-size: var(--font-size);
  margin-left: 5px;
}
h2 {
  color: var(--lightest-slate);
  font-family: CalibreBold;
  font-size: var(--heading-size);
  line-height: 90%;
  margin-top: 10px;
}

h3 {
  color: var(--slate);
  font-family: CalibreBold;
  font-size: var(--heading-size);
  margin-top: 10px;
  line-height: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.hero__para{
  color: var(--slate);
  font-family: Calibre;
  font-size: var(--font-size);
  line-height: 140%;
  max-width: 540px;
}
.animate_up {
  opacity: 0;
  animation: up 500ms ease-in;
  animation-fill-mode: forwards;
}
@keyframes up {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

