<div class="navbar">
  <div class="logo">
    <a class="animate_down" [style.animationDelay]="'1600ms'" routerLink="">
      <app-logo></app-logo>
    </a>
  </div>
  <div (click)="slide()" class="nav_button">
    <div class="line1" [class]="close_line1"></div>
    <div class="line2" [class]="close_line2"></div>
  </div>
  <div (click)="slide()" class="blur_box" [class]="openBlurBox"></div>
  <div class="nav_menu" [class]="open_menu">
    <ul>
      <li class="animate_down" [style.animationDelay]="'1700ms'">
        <a
          (click)="slide()"
          routerLink=""
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          ><span class="nav_no">01.</span>
          <span class="nav_text">Home</span>
        </a>
      </li>
      <li [style.animationDelay]="'1800ms'" class="animate_down">
        <a
          (click)="slide()"
          (click)="navigate('#About')"
          routerLinkActive="active"
          ><span class="nav_no">02.</span><span class="nav_text">About</span></a
        >
      </li>
      <li [style.animationDelay]="'1900ms'" class="animate_down">
        <a (click)="slide()" routerLink="/blog" routerLinkActive="active"
          ><span class="nav_no">03.</span><span class="nav_text">Blog</span></a
        >
      </li>
      <li [style.animationDelay]="'2000ms'" class="animate_down">
        <a
          (click)="slide()"
          (click)="navigate('#Contact')"
          routerLinkActive="active"
          ><span class="nav_no">04.</span
          ><span class="nav_text">Contact</span></a
        >
      </li>
    </ul>
  </div>
</div>
