.active span{
  color: var(--green);
}
.navbar {
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  z-index: 3;
  position: relative;
}
.nav_menu ul {
  display: flex;
  list-style-type: none;
}
.nav_menu ul li {
  padding: 10px;
  margin-right: 10px;
}
.nav_menu ul li a span {
  font-size: calc(var(--font-size) * 0.8);
}
.nav_no {
  color: var(--green);
  padding-right: 5px;
  font-family: 'SFMono';
}
.nav_text {
  color: var(--lightest-slate);
  font-family: 'SFMono';
}
.blur_box {
  display: none;
}
.nav_menu ul li a span:hover {
  color: var(--green);
}
@media (max-width: 700px) {
  .nav_button {
    background: transparent;
    aspect-ratio: 1;
    width: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    z-index: 4;
  }
  .line1 {
    background: var(--green);
    height: 10%;
    width: 80%;
    border-radius: 50px;
    margin: 10%;
    transition-duration: 0.5s;
  }
  .line2 {
    background: var(--green);
    height: 10%;
    width: 40%;
    border-radius: 50px;
    margin: 10%;
    transition-duration: 0.5s;
  }
  .line1_close {
    transform: rotate(45deg);
    margin-bottom: -5%;
  }
  .line2_close {
    transform: rotate(-45deg);
    margin-top: -5%;
    width: 80%;
  }
  .nav_menu {
    position: fixed;
    height: 100vh;
    width: 70vw;
    right: -70vw;
    top: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: var(--light-navy);
    transition-duration: 0.3s;
    z-index: 2;
    overflow: hidden;
  }
  .open_nav_menu {
    transform: translateX(-70vw);
    box-shadow: 2px 0 5px black;
  }
  .nav_menu ul {
    display: flex;
    flex-direction: column;
    background: inherit;
  }
  .nav_menu ul li {
    margin: 10px;
    background: inherit;
  }
  .nav_menu ul li a {
    background: inherit;
  }
  .blur_box {
    display: block;
    position: fixed;
    height: 100vh;
    width: 30vw;
    top: 0;
    right: -30vw;
    background: transparent;
    transition-duration: 0.3s;
    backdrop-filter: blur(5px);
    z-index: 2;
  }
  .open_blur_box {
    transform: translateX(-100vw);
  }
}
.animate_down {
  opacity: 0;
  animation: down 500ms ease-in;
  animation-fill-mode: forwards;
}
@keyframes down {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
