.f_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:2vw 5vw;
  margin-bottom: 0;
  padding-bottom: 3vw;
  & p,
  & p a {
    text-align: center;
    font-family: SFMono;
    font-size: calc(var(--font-size) * 0.8);
    color: var(--lightest-slate);
    text-decoration: none;
  }
  & p a:hover{
    color: var(--green);
  }
}
.logo a {
  margin: 10px;
}
.logo {
  margin-bottom: 10px;
}
.f_mail {
  display: none;
}
a:hover{
   color: var(--green);
}
