<div class="f_wrapper">
  <div class="logo">
    <a [href]="GithubLink">
      <app-github></app-github>
    </a>
    <a [href]="InstagramLink">
      <app-instagram></app-instagram>
    </a>
    <a [href]="TwitterLink">
      <app-twitter></app-twitter>
    </a>
    <a [href]="LinkedinLink">
      <app-linkedin></app-linkedin>
    </a>
    <a [href]="CodepenLink">
      <app-codepen></app-codepen>
    </a>
    <div class="f_line"></div>
  </div>
  <div class="f_mail">
    <a [href]="MailTo">Haroonsaifi2001@gmail.com</a>
    <div class="f_line"></div>
  </div>
  <p>
    Build and design by Haroon Saifi
  </p>
</div>
