* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: Calibre;
  font-size: var(--font-size);
  background:transparent;
}

body {
  transition-duration: 500ms;
  min-height: 100vh;
}
:root {
  --dark-navy: #020c1b;
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green: #64ffda;
  --green-tint: rgba(100, 255, 218, 0.1);
  --pink: #f57dff;
  --blue: #57cbff;
  --font-size: 18px;
  --heading-size: 30px;
}
@media (min-width: 200px) {
  :root {
    --font-size: 16px;
    --heading-size: 40px;
  }
}
@media (min-width: 300px) {
  :root {
    --font-size: 16px;
    --heading-size: 45px;
  }
}
@media (min-width: 400px) {
  :root {
    --font-size: 18px;
    --heading-size: 50px;
  }
}
@media (min-width: 600px) {
  :root {
    --font-size: 18px;
    --heading-size: 60px;
  }
}
@media (min-width: 800px) {
  :root {
    --font-size: 20px;
    --heading-size: 70px;
  }
}
@media (min-width: 1000px) {
  :root {
    --font-size: 22px;
    --heading-size: 80px;
  }
}
@media (min-width: 2000px) {
  :root {
    --font-size: 25px;
    --heading-size: 100px;
  }
}
@font-face {
  font-family: 'SFMono';
  src: url('./assets/fonts/SFMono/SFMono-Regular.woff2') format('woff2');
  src: url('./assets/fonts/SFMono/SFMono-Regular.woff') format('woff'),
    url('./assets/fonts/SFMono/SFMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'CalibreBold';
  src: url('./assets/fonts/Calibre/Calibre-Semibold.woff2') format('woff2');
  src: url('./assets/fonts/Calibre/Calibre-Semibold.woff') format('woff'),
    url('./assets/fonts/Calibre/Calibre-Semibold.ttf') format('truetype');
}
@font-face {
  font-family: 'Calibre';
  src: url('./assets/fonts/Calibre/Calibre-Regular.woff2') format('woff2');
  src: url('./assets/fonts/Calibre/Calibre-Regular.woff') format('woff'),
    url('./assets/fonts/Calibre/Calibre-Regular.ttf') format('truetype');
}
.svg_logo {
  height: 24px;
  width: 24px;
  stroke-width: 2;
  stroke: var(--light-slate);
  fill: none;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.svg_logo:hover {
  stroke: var(--green);
}
.animate_down {
  opacity: 0;
  animation: down 500ms ease-in;
  animation-fill-mode: forwards;
}
@keyframes down {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.animate_up {
  opacity: 0;
  animation: up 500ms ease-in;
  animation-fill-mode: forwards;
}
@keyframes up {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.scroll-effect {
  transform: translateY(50px);
  opacity: 0;
}
.scroll-effect-anmtn {
  transition-duration: 600ms;
  transition-timing-function: ease-in;
}
.b-wpr{
  background: var(--navy);
}
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
